{% extends "products/base.html" %}

{% block content %}



<table class="table">
    <tr>
        <th scope = "col">PRODUCT</th>
        <th scope = "col">PRICE(₹)</th>
        <th scope = "col">QUANTITY</th>
    </tr>

    {% for item in items %}

    <tr> <td>{{item.product.title}}</td>    <td>{{item.product.price}}</td>      <td>{{item.quantity}} </td></tr>

    {% endfor %}

    <tr>
        <th scope = "col">TOTAL</th>
        <th scope = "col">{{amount}}</th>
    </tr>

</table>

<form action = "/payments/pay/", method= "POST">
    {% csrf_token %}
    <button type = submit class = "btn btn-success orderbutto">PLACE YOUR ORDER!</button>
</form>



{% endblock %}